In [1]:
import numpy as np
import pandas

In [2]:
array = np.random.randn(4,2)

In [3]:
df = pandas.DataFrame(array)

In [4]:
df

          0         1
0  1.092426 -0.769245
1 -2.375999  0.969391
2 -0.160604  0.243278
3  0.248390 -1.118158

In [5]:
columns = ['A', 'B']

In [6]:
df = pandas.DataFrame(array, columns=columns)

In [7]:
df

          A         B
0  1.092426 -0.769245
1 -2.375999  0.969391
2 -0.160604  0.243278
3  0.248390 -1.118158

In [8]:
index = ['a', 'b', 'c', 'd']

In [9]:
df = pandas.DataFrame(array, columns=columns, index=index)

In [10]:
df

          A         B
a  1.092426 -0.769245
b -2.375999  0.969391
c -0.160604  0.243278
d  0.248390 -1.118158

In [11]:
df['A']

a    1.092426
b   -2.375999
c   -0.160604
d    0.248390
Name: A, dtype: float64

In [12]:
df.loc['a']

A    1.092426
B   -0.769245
Name: a, dtype: float64

In [13]:
df.iloc[0]

A    1.092426
B   -0.769245
Name: a, dtype: float64

In [14]:
indices = ['a', 'c']

In [16]:
df.loc(indices)

In [17]:
df['a':'c']

          A         B
a  1.092426 -0.769245
b -2.375999  0.969391
c -0.160604  0.243278

In [18]:
df[0:2]

          A         B
a  1.092426 -0.769245
b -2.375999  0.969391